<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tasks
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tasks</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <input type="text" placeholder="Add Task" class="input-task" [(ngModel)]="newTodo" >
    <button class="agregar" type="submit" (click)="saveTodo()">+</button>
  </div>

  <ion-list class="list-task" *ngFor="let todo of todos; let i = index">
    <ion-item [ngClass]="!todo.isCompleted ? 'done' : ''" (click)="done(i)">
      {{todo.name}}
      <ion-icon name="trash" slot="end" style="color: red;" (click)="remove(i)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
