#container {
    text-align: center;
  
    position: relative;
    left: 0;
    right: 0;
    top: 7%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  .input-task {
    padding: 12px;
    width: 70%;
    position: relative;
    border: none;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #b8b6b6;
  }

  .agregar {
    position: relative;
    height: 42.5px;
    width: 15%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    bottom: 2px;
    background: var(--ion-color-primary);
    font-size: 15px;
  }

  .list-task {
    position: relative;
    top: 7%;

    ion-item {
      padding: 7px;
      text-align: center;
    }

    .done {
      color: #8c8c8c;
      text-decoration: line-through;
      font-style: italic;
    }
  }