<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat GPT</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <iframe src="https://you.com/search?q=who+are+you&tbm=youchat&cfr=chat&cid=c2_130cac81-1055-4b04-ad4d-4a56fcd107bf" width="800" height="600"></iframe>
  </div>
</ion-content>
